.container {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.8rem;
}

.thead th {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 5px 5px 5px;
  background: #007431;
  color: white;
  font-size: 1.4rem;
}

.thead th {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 60px;
}

.tbody td {
  border: 1px solid rgb(189, 189, 189);
  padding: 3px;
  background-color: white;
}

td:first-child {
  text-align: left;
  width: 44%;
  padding-left: 7px;
}

td:nth-child(2) {
  width: 8%;
}

td:nth-child(3) {
  width: 12%;
}

td:nth-child(4) {
  width: 12%;
}

td:nth-child(5) {
  width: 12%;
}

td:nth-child(5) {
  width: 12%;
}

td,
th {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 60px;
}