.container {
  border-collapse: collapse;
  width: 100%;
  font-size: 2rem;
}

th, td {
  overflow: hidden;  
  text-overflow: ellipsis;
  border: 1px solid rgb(202, 202, 202);
}

th {
  background-color: darkgreen;
  color: white;
  border: 1px solid white;
  text-align: center;
}

.thead th {
  border: 1px solid rgb(189, 189, 189);
  padding: 5px 5px 5px 5px;
  background: #007431;
  color: white;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
  
.tbody td {
  border: 1px solid rgb(189, 189, 189);
  padding: 3px;
}

tbody td:first-child {
  text-align: left;
  width: 45%;
  padding-left: 7px;
}

tbody td:nth-child(2) {
  width: 10%; 
}

  tbody td:nth-child(3) {
    width: 15%; 
  }

  tbody td:nth-child(4) {
    width: 15%; 
  }

  tbody td:nth-child(5) {
    width: 15%; 
  }

  

  td {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60px;
  }

  