#root {
  max-width: 800px;
  min-width: 320px;
  width: 100%;
  padding: 0.5em;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.rodal-close {
  font-size: 45px;
  color: red;
}

.rodal-close.rodal-close-btn {
  color: red;
}

@keyframes blinkingBackground {
  0% {
    border-color: #ff0000;
  }

  100% {
    border-color: #f8afaf;
  }
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
