* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  
}

body{
  max-width: 100%;
  min-width: 320px;
  background-color: aliceblue;
}

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  place-items: start;
  position: relative;
  
}

