.slider-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(189, 189, 189);
    margin: 0 auto;
}

.slider-input {
    font-size: 3.5rem;
    text-align: center;
    margin: 0 15px;
    
}

.slider-arrows {
    font-size: 3.5rem;
}

.arrows-container {
    transition: transform 0.03s linear; 
    outline: none ;
    user-select: none;
}

  .clicked {
    animation: clickAnimation 0.2s ease;
}